//Delete this comment and change the name "database.json.example" to "database.json"
{"historial":["texas city, tejas, estados unidos","milán, ciudad metropolitana de milán, italia","italian village, columbus, ohio, estados unidos","miami, florida, estados unidos","méxico, pampanga, filipinas","toronto, ontario, canadá"]}